_autosave-Rectifier_AC_to_DC.kicad_pcb
.DS_Store
#auto_saved_files#
#auto_saved_files#
#auto_saved_files#
~_autosave-Rectifier_AC_to_DC.kicad_pcb.lck
~Rectifier_AC_to_DC.kicad_sch.lck
#auto_saved_files#
#auto_saved_files#
fp-info-cache
fp-lib-table
